{% extends 'HeaderFooter.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="card border-info mb-3">
            <img class="card-img-top " src="{% static 'images/Detail.jpg' %}" alt="">
            <div class="card-body">
                <h3 class="card-title">{{ Lagus.judul }}</h3>
                <h5 class="card-title">{{ Lagus.artis }}</h5>
                <pre class="card-text">{{ Lagus.teks }}</pre>
            </div>
        </div>
        <a href="{% url 'print' lagu_id=Lagus.id %}" target="_blank">Print Lirik</a>
        <a href="http://www.facebook.com/sharer/sharer.php?u=http://127.0.0.1:8000">Share Facebook</a>
    </div>
    <div class="col-2"></div>
</div> 
{% endblock %}